// rem base is 14px
$font-size-base: 0.875rem;

// Bootstrap custom file input text
$custom-file-text: (
  en: "Browse",
  cs: "Vybrat"
);

$red: #dc3545;
$green: #32a852;
$brand-orange: #f0994c;
$primary: $brand-orange;
$dark-gray: #333C45;

$navbar-nav-link-padding-x: 16px;