<div class="row">
  <div class="col-md-6">
    <%= raw wrapper.decorate.render_part(page, section, 'left_column') %>
  </div>
  <div class="col-md-6">
    <%= raw wrapper.decorate.render_part(page, section, 'right_column') %>
  </div>
</div>