<div class="offset"></div>
<section>
  <div class="container inner">
    <div class="row">
      <div class="col-md-4">
        <%= menu('product_categories_menu', I18n.locale) %>
      </div>
      <div class="col-md-8">
        <h1 class="headline-crossed">Ups, nastala chyba</h1>
        <p>Nastala chyba, kterou si neumíme vysvětlit. Prosím napište nám na kontaktní e-mail v patičce webu.</p>
      </div>
    </div>
  </div>
</section>