<div class="offset"></div>
<section>
  <div class="container inner">
    <div class="row">
      <div class="col-md-4">
        <%= menu('product_categories_menu', I18n.locale) %>
      </div>
      <div class="col-md-8">
        <h1 class="headline-crossed">Ups, stránka neexistuje</h1>
        <p>Bohužel se nám nepodařilo stránku najít a proto jste na stránce 404. Zkuste kliknout na nejaký odkaz v menu nebo pokračujte na úvodní stránku.</p>
      </div>
    </div>
  </div>
</section>