<% title t('.menu') %>
<% breadcrumbs [
   {label: t('.menu'), path: admin_menus_path},
   {label: t('.new_menu'), path: '#'}
] %>

<div class="content">
  <div class="container-fluid">
    <div class="top-panel">
      <div class="row">
        <div class="col-md-12">
          <div class="float-left">
            <%= link_to admin_menus_path, class: 'btn btn-danger' do %>
              <i class="fa fa-times"></i> <%= t('.cancel') %>
            <% end %>
          </div>
          <div class="float-right">
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'admin/menus/shared/form', locals: {resource: @menu, resource_action: 'create', resource_method: :post} %>
  </div>
</div>