<!DOCTYPE html>
<html>
  <head>
    <title>RubyQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'devise' %>
  </head>

  <body class="devise">
    <%= yield %>
    <div class="full-page-background"></div>
  </body>
</html>
